<div class="row jumb">
   <div class="col-sm-8 text-left">
       <h1>CV</h1>
       <h2>Jialin Liu</h2>
       <p>Fairfield NSW Australia 2165</p>
       <p>Email: jialin824@gmail.com</p>
       <p>Contact:0432663817</p>
   </div>
   <div class="col-sm-4">
       <div>
         <img src="images/me1.JPG" height=260>
       </div>
    </div>
</div>
<div class="row">
   <div class="col-sm-8">
    <h1 class='borderSolidB'>Professional info</h1>
    <p>Highly organised and detail-oriented Front End Developer acknowledged for sound decision making abilities, expert programming/ coding skills, solid business acuity and problem solving skills.
</p>
   </div>
    <div class="col-sm-4">
    <h1 class='borderSolidB'>Languages</h1>

        <p>HTML5</p>
        <p>CSS3</p>
        <p>JAVASCRIPT</p>
        <p>AngularJS</p>
        <p>ASP.Net</p>
        <p>Node.JS</p>

    </div>

</div>

<div class="row">
   <div class="col-sm-8">
    <h1 class='borderSolidB'>Work experience</h1>
    <h4>Projectmate, Homebush 2140 &nbsp;&nbsp;&nbsp;Nov 2015 – Present</h4>
    <p>Front End Developer</p>
    <ul>
        <li>Developing an Online Property Management Tools for Property Developers and Agencies</li>
        <li>This medium project is built by Ruby on Rails, MySQL, & JQuery Library</li>
        <li>The MVC Framework embraces a lot of new Front end technologies such as Pusher, I18n, Rails Simple Form and Intercom</li>
        <li>Linking JIRA and Bitbucket helps us to to do the coding tasks efficiently </li>
    </ul>
    <h4>Online Learning Zone, Crows Nest 2065 &nbsp;&nbsp;&nbsp;Nov 2014 – Aug 2015</h4>
    <p>Front End Developer</p>
    <ul>
        <li>Developed website promotional materials, web banners and optimised landing/ home pages of OnlineLearningZone.com.</li>
        <li>Designed and implemented company’s website, including development and maintenance utilising ASP.net, HTML/ CSS, MySQL, and JavaScript practices.</li>
        <li>Built a flexible front-end architecture of the simulation system, reducing development time and improving quality.</li>
        <li>Supported VB Code behind development and customisation of ASP Control such as ASP Tree View Control.</li>
    </ul>

     <br><br>
    <h4>VASP Group, Bella Vista, NSW &nbsp;&nbsp;&nbsp;Dec 2012 – Jun 2013</h4>
    <p>IT Help Desk</p>
    <ul>
        <li>Troubleshot and resolved technical issues pertaining to any hardware or software/ OS problems.</li>
        <li>Provided dedicated help desk support and performed computer troubleshooting over the phone and face-to-face.</li>
        <li>Ensured users receive timely resolution on moderate to complex issues pertaining to any hardware, software and network related problems. </li>
        <li>Adhered to standard help desk procedures; performed fault finding diagnosis and root cause analysis.</li>
    </ul>
     <br><br>
    <h4>Four Seasons Hotel, Sydney, NSW &nbsp;&nbsp;&nbsp;Jul 2011 – Oct 2012</h4>
    <p>IT Help Desk</p>
    <ul>
        <li>Monitored network performance/ implementation, assigned IP addresses/ logical networking groups, designed network performance reports, protected network data, management and optimisation.</li>
        <li>Performed fault finding diagnosis and root cause analysis. </li>
        <li>Carried out upgrades, back up, troubleshooting and installation of hardware, software and drivers. </li>
        <li>Escalated issues as needed and maintained communication with users and technical teams.</li>
    </ul>
    <h1 class='borderSolidB'>Education</h1>
    <h6>Master of Computer Science, Major in Network Security & Software Development
University of Wollongong, Australia (2010)</h4>
    <br><br>
    <h6>Bachelor of Computer Science. Harbin University of science and technology China(2007)</h4>
       <br><br>
    <p class="borderSolidB"></p>
    </div>
 <div class="col-sm-4">
    <h1 class='borderSolidB'>Certificate</h1>

        <p>CCNA</p>
        <p>Certified Web Developer</p>


    </div>
</div>
