<div class="jumb"> 
<div class="text-justify" >
<h1>Project</h1>
<br><br>
<p>I designed and developed some interesting projects for display and practise.</p>
</div>
</div>
<h4>Latest Projects</h4>
<div class="row borderSolidT">
<div class="col-sm-4 col-xs-6" >
<a href="http://jialin824.github.io/hl/#%2F" target="_blank"><img src="images/london.jpg" class="image img-responsive" width=200></a>    
</div>
<div class="col-sm-8 col-xs-6 text-left">
   <h4>England Diary</h4>
   <p>this website introduces some famous attractions include Windsor Castle, Cambridge Colledge, and London Eye, There are also some tips for backpackers. For myself, I am the one who loves to do a lot of research of attraction tickets, restaurants and public transports before bording the flight. This project is developed by AngularJS.</p>
   <a href="http://jialin824.github.io/hl/#%2F" target="_blank"><img src="images/link.png" class="img-responsive" width="50"></a>
</div>
</div>
<br><br>
<div class="row borderSolidT">
<div class="col-sm-4 col-xs-6">
<a href="http://jialin824.github.io/apartment-finder/#%2F" target="_blank"><img src="images/apartment.jpg" class="image img-responsive" width=200></a>   
</div>
<div class="col-sm-8 col-xs-6 text-left">
   <h4>Aparment Finder</h4>
   <p>An interesting small project for rent seeker. You can just click which city you want to reside. and there are a big list with locations powered by google maps. you can click the image of house or its location in the map to review the details of each unit. This project is developer by AngularJS</p>
      <a href="http://jialin824.github.io/apartment-finder/#%2F" target="_blank"><img src="images/link.png" class="img-responsive" width="50"></a>
</div>
</div>
<br><br>
<div class="row borderSolidT">
<div class="col-sm-4 col-xs-6">
<a href="http://jialin824.github.io/7MinWorkout/#/" target="_blank"><img src="images/7MinWorkout.jpg" class="image img-responsive" width=200></a>   
</div>
<div class="col-sm-8 col-xs-6 text-left">
   <h4>7 Min Workout</h4>
   <p>An interesting small project for people who want to spend a few minutes for exercise </p>
      <a href="http://jialin824.github.io/7MinWorkout/#/" target="_blank"><img src="images/link.png" class="img-responsive" width="50"></a>
</div>
</div>
<div class="row">
<div class="col-sm-4">
<img src="">    
</div>
<div class="col-sm-8">
   <p></p>
</div>
</div>